.photo-grid__wrapper {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    padding: 0;
    margin: 0 auto;
    gap: 16px;
    width: 100%;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .photo-grid__wrapper {
    gap: 14px;
  }
}

/* 784 */
@media screen and (max-width: 784px) {
  .photo-grid__wrapper {
    gap: 12px;
  }
}
