.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity .3s ease-in;
}

.footer__link:hover {
  opacity: 0.8;
}

/* 784 */
@media screen and (max-width: 784px) {
  .footer__link {
    font-size: 16px;
  }
}

/* 425 */
@media screen and (max-width: 425px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
