.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 18px;
  transition: opacity .3s ease-in;
}

.footer__link:hover {
  opacity: 0.8;
}
