.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
}

/* 738 */
@media screen and (max-width: 738px) {
  .footer__copyright {
    margin-top: 10px;
  }
}
