.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114% ;
  margin: 0;
}

/* 784 */
@media screen and (max-width: 784px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 114%;
  }
}

/* 738 */
@media screen and (max-width: 738px) {
  .footer__copyright {
    margin-top: 10px;
  }
}
