.footer {
  display: flex;
  padding: 92px 0 24px;
  justify-content: space-between;
  align-items: baseline;
}

/* 784 */
@media screen and (max-width: 784px) {
  .footer {
    padding-top: 88px;
  }
}

/* 738 */
@media screen and (max-width: 738px) {
  .footer {
    flex-direction: column;
  }
}

/* 600 */
@media screen and (max-width: 600px) {
  .footer {
    padding-top: 64px;
  }
}
